/* 
.tilta{
    text-align: center;
}
div{
    text-align: right;
}
button{
    width: 100%;
    background-color: rgb(112, 135, 197);
    color: cornsilk;
    height: 40px;
    border-radius: 4px;
}
input{
    width: 100%;
    border-radius: 4px;
}
a{
    color: rgb(97, 163, 218);
}
.btfb{
    background-color: rgb(62, 60, 153);
    border-radius: 10px; */
    